---
layout: archive
title: ""
permalink: /publications/
author_profile: false
---

<p style="font-size: 24px; color: gray; font-style: italic;">To boldly go where no one has gone before.</p>

<hr /> 

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% assign counter = 1 %} <!-- 初始化序号计数器 -->
  {% for category in site.publication_category %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      <p>[{{ counter }}] {{ post.citation }}</p> <!-- 显示序号和 citation -->
      {% assign counter = counter | plus: 1 %} <!-- 序号加一 -->
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign counter = 1 %} <!-- 初始化序号计数器 -->
  {% for post in site.publications reversed %}
    <p>[{{ counter }}] {{ post.citation }}</p> <!-- 显示序号和 citation -->
    {% assign counter = counter | plus: 1 %} <!-- 序号加一 -->
  {% endfor %}
{% endif %}





