{% include base_path %}
{% assign navigation = site.data.navigation[include.nav] %}

<nav class="nav__list">
  {% if page.sidebar.title %}
    <header><h4 class="nav__title" style="padding: 0;">{{ page.sidebar.title }}</h4></header>
  {% endif %}
  <ul>
    {% for nav in navigation %}
      <li>
        {% if nav.url %}
          {% comment %}定义基础域名以确保完整URL匹配{% endcomment %}
          {% assign full_url = "https://billwan-zzzyyy.github.io" | append: nav.url %}

          {% comment %}设置“active”类在当前页面{% endcomment %}
          {% if full_url == page.url %}
            {% assign active = "active" %}
          {% else %}
            {% assign active = "" %}
          {% endif %}

          <a href="{{ full_url }}" class="{{ active }}"><span class="nav__sub-title">{{ nav.title }}</span></a>
        {% else %}
          <span class="nav__sub-title">{{ nav.title }}</span>
        {% endif %}

        {% if nav.children != null %}
        <ul>
          {% for child in nav.children %}
            {% assign child_full_url = "https://billwan-zzzyyy.github.io" | append: child.url %}

            {% comment %}设置“active”类在当前子页面{% endcomment %}
            {% if child_full_url == page.url %}
              {% assign active = "active" %}
            {% else %}
              {% assign active = "" %}
            {% endif %}

            <li><a href="{{ child_full_url }}" class="{{ active }}">{{ child.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>

<style>
/* 设置当前页面链接的紫色样式 */
.nav__list a.active {
  color: #8E24AA; /* 紫色 */
  font-weight: bold; /* 可选：加粗字体 */
}
</style>
