---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
    a {
      text-decoration: none !important; /* 去除下划线 */
      color: #8E24AA; /* 修改为自定义颜色 */
    }
    a:hover {
      color: #FF7043; /* 悬停时的颜色 */
    }
  </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  <script>
    window.addEventListener("load", function() {
    // 定义当前主域名
      const currentHost = "billwan-zzzyyy.github.io";

    // 查找所有链接，并为非当前主域名的链接添加 target="_blank"
      document.querySelectorAll('a').forEach(link => {
      // 如果链接的主机名不是当前主域名，则设置为新窗口打开
        if (link.host !== currentHost && link.host !== "") {
          link.setAttribute('target', '_blank');
      }
    });
  });
  </script>
</body>
</html>
